<meta name="viewport" content="width=device-width, initial-scale=1.0">

<center class="title">
    <br>
        <h1 class="" style="color:black">
            <b>VW South Africa</b>
        </h1>
        <div class="col-md-5 text-center">
        <form action="/user/saved" method="post">

        <div class="image d-flex ">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Volkswagen_logo_2019.svg/1200px-Volkswagen_logo_2019.svg.png">
        </div>
            <br>
            <h4 style="color:white;">Please click start to begin with the Questionnaire.</h4>
           <div class="form-group">
            <button type="submit" onclick="document.location='/Questionnaire'"();" id="next" style:"width:20" class="btn">START</button>
        </div>
            </div>
        </form>
        <footer class="page-footer font-small black">

            <div class="footer-copyright text-center py-3">© 2022 Copyright. All rights reserved.
            <a href="https://www.analyticsadvert.com"> Analytics Advertising</a>
            </div>
                   
        </footer>