<meta name="viewport" content="width=device-width, initial-scale=1.0">

<center class="title">
    <br>
        <h1 class="" style="color:black">
            <b>Solution Co-Creation</b>
        </h1>
        <div class="col-md-5 text-center">
        <form action="/user/saved" method="post">
            <h1>Hi, THANK YOU FOR YOUR TIME.</h1>
            <br>
            <h3>
                <u>READ THE GUIDELINES BELOW:</u>
            </h3>
            
            <h3>
                <i>The questionnaire consists of 12 questions.</i>
            </h3>

            <h3>
                <i>Please answer the questions fully.</i>
            </h3>

            <h3>
                <i>Take your time to elaborate where necessary.</i>
            </h3>

            <h3>
                <i>All questions are compulsory.</i>
            </h3>
<!--
            <br>
            <input type="text" name="name" id="name" class="formControl news-input" placeholder="Enter your name" required>
            <br>
            -->
            <br>
            <h4>Please click start to begin with the survey.</h4>
           <div class="form-group">
            <button type="submit" onclick="document.location='/survey'"();" id="next" style:"width:20" class="btn">START SURVEY</button>
        </div>
            </div>
        </form>
        <footer class="page-footer font-small black">

            <div class="footer-copyright text-center py-3">© 2022 Copyright. All rights reserved.
            <a href="https://www.analyticsadvert.com"> Analytics Advertising</a>
            </div>
                   
        </footer>