<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELL SMARTER</title>
</head>
<body>
    
</body>
</html>


<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <form action="/details/save" class="" id="survey-form" method= post>

                    <div class="container align-content-center">
                      <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-7 align-center">
                             <h2 align="center" style="color:white;">Sell Smarter Questionnaire</h2>
                             <h5 align="center" style="color:white;">"Developing High Perfomers"</h5>
                          <div class="form d-flex align-items-center">
                            <div class="image d-flex align-center">
                              <img src="https://media-exp1.licdn.com/dms/image/C560BAQGbSIcf5LTJUQ/company-logo_200_200/0/1578926305898?e=2147483647&v=beta&t=NROszoeRSDdGaspHJ1FE5iGohruJ7FRgwCFo54rGK4A">
                            </div>
                            <form action="" class="my-form">
                              <p class="mdb-color-text" style="color:white;">Please fill in your details below:</p>
                              <!-- Email address -->
                              <div class="md-form md-outline">
                                <i class="fas fa-envelope prefix"></i>
                                <input type="email" id="email" class="form-control" placeholder="Email address">
                                <label for="email" style="color:white;">Email address</label>
                              </div>
                              <!-- Full Name -->
                              <div class="md-form md-outline">
                                <i class="fas fa-lock prefix"></i>
                                <input type="name" id="name" class="form-control" placeholder="Full name">
                                <label for="name" style="color:white;">Full Name</label>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

            <br/>
            <div class="form-group">
            <form>
            <h3 style="color:white;">1. Sales related (Use the comment box to elaborate)</h3>
            <label for="question" style="color:white;">1. Do you currently have a customer success and retention strategy</label>
            <br/>
            <label class="radio-inline" id="answer1" style="color:white;"><input type="radio" name="answer1">1</label>
            <label class="radio-inline" id="answer2" style="color:white;"><input type="radio" name="answer2">2</label>
            <label class="radio-inline" id="answer3" style="color:white;"><input type="radio" name="answer3">3</label>
            <label class="radio-inline" id="answer4" style="color:white;"><input type="radio" name="answer4">4</label>
            <br/>
            <input type="text" id="answer5" name="answer5" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">2. I sometimes encounter the following challenges when selling</label>
            <br/>
            <label class="radio-inline" id="answer6" style="color:white;"><input type="radio" name="answer6">1</label>
            <label class="radio-inline" id="answer7" style="color:white;"><input type="radio" name="answer7">2</label>
            <label class="radio-inline" id="answer8"style="color:white;"><input type="radio" name="answer8">3</label>
            <label class="radio-inline" id="answer9"style="color:white;"><input type="radio" name="answer9">4</label>
            <br/>
            <input type="text" id="answer10" name="answer10" row="10" size="50" placeholder="Comment">
            <br/>
            <br/>
            <label for="question" style="color:white;">3. The objection below can be hard for me to resolve</label>
            <br/>
            <label class="radio-inline" id="answer11" style="color:white;"><input type="radio" name="answer11">1</label>
            <label class="radio-inline" id="answer12" style="color:white;"><input type="radio" name="answer12">2</label>
            <label class="radio-inline" id="answer13" style="color:white;"><input type="radio" name="answer13">3</label>
            <label class="radio-inline" id="answer14" style="color:white;"><input type="radio" name="answer14">4</label>
            <br/>
            <input type="text" id="answer15" name="answer15" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">4. I customize my approach when I engage different customers</label>
            <br/>
            <label class="radio-inline" id="answer16" style="color:white;"><input type="radio" name="answer16">1</label>
            <label class="radio-inline" id="answer17" style="color:white;"><input type="radio" name="answer17">2</label>
            <label class="radio-inline" id="answer18" style="color:white;"><input type="radio" name="answer18">3</label>
            <label class="radio-inline" id="answer19" style="color:white;"><input type="radio" name="answer19">4</label>
            <br/>
            <input type="text" id="answer20" name="answer20" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">5. If it weren’t because of competition, I would achieve outstanding sales results</label>
            <br/>
            <label class="radio-inline" id="answer21" style="color:white;"><input type="radio" name="answer21">1</label>
            <label class="radio-inline" id="answer22" style="color:white;"><input type="radio" name="answer22">2</label>
            <label class="radio-inline" id="answer23" style="color:white;"><input type="radio" name="answer23">3</label>
            <label class="radio-inline" id="answer24" style="color:white;"><input type="radio" name="answer24">4</label>
            <br/>
            <input type="text" id="answer25" name="answer25" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">6. I have considered changing careers</label>
            <br/>
            <label class="radio-inline" id="answer26" style="color:white;"><input type="radio" name="answer26">1</label>
            <label class="radio-inline" id="answer27" style="color:white;"><input type="radio" name="answer27">2</label>
            <label class="radio-inline" id="answer28" style="color:white;"><input type="radio" name="answer28">3</label>
            <label class="radio-inline" id="answer29" style="color:white;"><input type="radio" name="answer29">4</label>
            <br/>
            <input type="text" id="answer30" name="answer30" row="10" size="50" placeholder="Comment"><br><br>
             </form>
            </div>

            <div class="form-group">
            <form>
            <h3 style="color:white;">2. Mindset related (yes/no option)</h3>
            <label for="question" style="color:white;">1. I have the right mindset qualities to achieve exponential results?</label>
            <br/>
            <label class="radio-inline" id="answer31" style="color:white;"><input type="radio" name="answer31">Yes</label>
            <label class="radio-inline" id="answer32" style="color:white;"><input type="radio" name="answer32">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">2. I am responsible for my sales success?</label>
            <br/>
            <label class="radio-inline" id="answer33" style="color:white;"><input type="radio" name="answer33">Yes</label>
            <label class="radio-inline" id="answer34" style="color:white;"><input type="radio" name="answer34">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">3. Management is responsible for my sales success?</label>
            <br/>
            <label class="radio-inline" id="answer35" style="color:white;"><input type="radio" name="answer35">Yes</label>
            <label class="radio-inline" id="answer36" style="color:white;"><input type="radio" name="answer36">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">4. When I don’t achieve my targets is because of customers?</label>
            <br/>
            <label class="radio-inline" id="answer37" style="color:white;"><input type="radio" name="answer37">Yes</label>
            <label class="radio-inline" id="answer38" style="color:white;"><input type="radio" name="answer38">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">5. It is impossible to reach my sales targets in this economy?</label>
            <br/>
            <label class="radio-inline" id="answer39" style="color:white;"><input type="radio" name="answer39">Yes</label>
            <label class="radio-inline" id="answer40" style="color:white;"><input type="radio" name="answer40">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">6. I sometimes doubt myself?</label>
            <br/>
            <label class="radio-inline" id="answer41" style="color:white;"><input type="radio" name="answer41">Yes</label>
            <label class="radio-inline" id="answer42" style="color:white;"><input type="radio" name="answer42">No</label>
            </form>
            </div>

            <div class="form-group">
            <form>
            <h3 style="color:white;">3. Customer-related (Use the comment box to elaborate)</h3>

            <div class="form-group">
            <form>
            <label for="name" style="color:white;">1. Being persuasive is more important than understanding buyer motivation.</label>
            <br/>
            <label class="radio-inline" id="answer43" style="color:white;"><input type="radio" name="answer43">1</label>
            <label class="radio-inline" id="answer44" style="color:white;"><input type="radio" name="answer44">2</label>
            <label class="radio-inline" id="answer45" style="color:white;"><input type="radio" name="answer45">3</label>
            <label class="radio-inline" id="answer46" style="color:white;"><input type="radio" name="answer46">4</label>
            <br/>
            <input type="text" id="answer47" name="answer47" row="10" size="50" placeholder="Comment">
            </div>
            <div class="form-group">
            <label for="email" style="color:white;">2. I find it hard to deal with demanding customers </label>
            <br/>
            <label class="radio-inline" id="answer48" style="color:white;"><input type="radio" name="answer48">1</label>
            <label class="radio-inline" id="answer49" style="color:white;"><input type="radio" name="answer49">2</label>
            <label class="radio-inline" id="answer50" style="color:white;"><input type="radio" name="answer50">3</label>
            <label class="radio-inline" id="answer8451" style="color:white;"><input type="radio" name="answer51">4</label>
            <br/>
            <input type="text" id="answer52" name="answer52" row="10" size="50" placeholder="Comment">
            <br/>
            <br/>
            <label for="name" style="color:white;">3. When customers don’t buy, I quickly get discouraged</label>
            <br/>
            <label class="radio-inline" id="answer53" style="color:white;"><input type="radio" name="answer53">1</label>
            <label class="radio-inline" id="answer54" style="color:white;"><input type="radio" name="answer54">2</label>
            <label class="radio-inline" id="answer55" style="color:white;"><input type="radio" name="answer55">3</label>
            <label class="radio-inline" id="answer56" style="color:white;"><input type="radio" name="answer56">4</label>
            <br/>
            <input type="text" id="answer57" name="answer57" row="10" size="50" placeholder="Comment">
            </div>
            <div class="form-group">
            <label for="email" style="color:white;">4. I find it hard to deal with demanding customers </label>
            <br/>
            <label class="radio-inline" id="answer58" style="color:white;"><input type="radio" name="answer58">1</label>
            <label class="radio-inline" id="answer59" style="color:white;"><input type="radio" name="answer59">2</label>
            <label class="radio-inline" id="answer60" style="color:white;"><input type="radio" name="answer60">3</label>
            <label class="radio-inline" id="answer61" style="color:white;"><input type="radio" name="answer61">4</label>
            <br/>
            <input type="text" id="answer62" name="answer62" row="10" size="50" placeholder="Comment">
            <br/>
            <br/>
            <label style="color:white;" for="name style="color:white;">5. Being persuasive is more important than understanding buyer motivation.</label>
            <br/>
            <label class="radio-inline" id="answer63" style="color:white;"><input type="radio" name="answer63">1</label>
            <label class="radio-inline" id="answer64" style="color:white;"><input type="radio" name="answer64">2</label>
            <label class="radio-inline" id="answer65" style="color:white;"><input type="radio" name="answer65">3</label>
            <label class="radio-inline" id="answer66" style="color:white;"><input type="radio" name="answer66">4</label>

            <br/>
            <input type="text" id="answer67" name="answer67" row="10" size="50" placeholder="Comment">
            </div>
            <div class="form-group">
            <label for="email" style="color:white;">6. I find it hard to deal with demanding customers </label>
            <br/>
            <label class="radio-inline" id="answer68" style="color:white;"><input type="radio" name="answer68">1</label>
            <label class="radio-inline" id="answer69" style="color:white;"><input type="radio" name="answer69">2</label>
            <label class="radio-inline" id="answer70" style="color:white;"><input type="radio" name="answer70">3</label>
            <label class="radio-inline" id="answer71" style="color:white;"><input type="radio" name="answer71">4</label>
            <br/>
            <input type="text" id="answer72" name="answer72" row="10" size="50" placeholder="Comment">
            </form>
            </div>
            <br/>
            <div class="form-group">
            <form>
            <h3 style="color:white;">4. Business-related (yes/no option)</h3>
            <label for="question" style="color:white;">1. Management is skilled enough to get staff to deliver optimal performance?</label>
            <br/>
            <label class="radio-inline" id="answer73" style="color:white;"><input type="radio" name="answer73">Yes</label>
            <label class="radio-inline" id="answer74" style="color:white;"><input type="radio" name="answer74">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">2. Management gives me the support I need to excel in my job?</label>
            <br/>
            <label class="radio-inline" id="answer75" style="color:white;"><input type="radio" name="answer75">Yes</label>
            <label class="radio-inline" id="answer76" style="color:white;"><input type="radio" name="answer76">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">3. I feel overwhelmed with everything I need to achieve?</label>
            <br/>
            <label class="radio-inline" id="answer77" style="color:white;"><input type="radio" name="answer77">Yes</label>
            <label class="radio-inline" id="answer78" style="color:white;"><input type="radio" name="answer78">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">4. I have considered moving to another company?</label>
            <br/>
            <label class="radio-inline" id="answer79" style="color:white;"><input type="radio" name="answer79">Yes</label>
            <label class="radio-inline" id="answer80" style="color:white;"><input type="radio" name="answer80">No</label>
            <br/>       
            <br/>
            <label for="question" style="color:white;">5. We have all the tools and resources needed to perform optimally?</label>
            <br/>
            <label class="radio-inline" id="answer81" style="color:white;"><input type="radio" name="answer81">Yes</label>
            <label class="radio-inline" id="answer82" style="color:white;"><input type="radio" name="answer82">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">6. Excellent customer service is key for our business</label>
            <br/>
            <label class="radio-inline" id="answer83" style="color:white;"><input type="radio" name="answer83">Yes</label>
            <label class="radio-inline" id="answer84" style="color:white;"><input type="radio" name="answer84">No</label>
            </form>
            </div>
            <form action="" class="" id="Questionnaire-form" method= post>
                <div class="form-group" align="center">
                    <button type="submit" onclick="submitdocument.location='/sucessPage'"();" id="submit"  class="btn">Submit</button>
                </div>
                <footer class="page-footer font-small black" align="center" style="color:white;">

                    <div class="footer-copyright text-center py-5">© 2022 Copyright. All rights reserved.
                    <a href="https://www.analyticsadvert.com" style="color:black;"> Analytics Advertising</a>
                    </div>
                              
                </footer>
            </form>
        </form>