<meta name="viewport" content="width=device-width, initial-scale=1.0">

<center class="title">
    <br>
    <br>
        <br>
        <br>
        <div class="col-md-5 text-center">
            <h1>THANK YOU FOR PARTICIPATING IN THIS QUESTIONNAIRE!</h1>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="page-footer font-small black">

            <div class="footer-copyright text-center py-3">© 2022 Copyright. All rights reserved.
            <a href="https://www.analyticsadvert.com"> Analytics Advertising</a>
            </div>
                      
        </footer>