<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <form action="/details/save" class="" id="survey-form" method= post>

                    <div class="container align-content-center">
                      <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-7 align-center">
                             <h2 align="center" style="color:white;">Sell Smarter Questionnaire</h2>
                             <h5 align="center" style="color:white;">"Developing High Perfomers"</h5>
                          <div class="form d-flex align-items-center">
                            <div class="image d-flex align-center">
                              <img src="https://media-exp1.licdn.com/dms/image/C560BAQGbSIcf5LTJUQ/company-logo_200_200/0/1578926305898?e=2147483647&v=beta&t=NROszoeRSDdGaspHJ1FE5iGohruJ7FRgwCFo54rGK4A">
                            </div>
                            <form action="" class="my-form">
                              <p class="mdb-color-text" style="color:white;">Please fill in your details below:</p>
                              <!-- Email address -->
                              <div class="md-form md-outline">
                                <i class="fas fa-envelope prefix"></i>
                                <input type="email" id="email" class="form-control" placeholder="Email address">
                                <label for="email" style="color:white;">Email address</label>
                              </div>
                              <!-- Full Name -->
                              <div class="md-form md-outline">
                                <i class="fas fa-lock prefix"></i>
                                <input type="name" id="name" class="form-control" placeholder="Full name">
                                <label for="name" style="color:white;">Full Name</label>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

            <br/>
            <div class="form-group">
            <form>
            <h3 style="color:white;">1. Sales related (Use the comment box to elaborate)</h3>
            <label for="question" style="color:white;">1. Do you currently have a customer success and retention strategy</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio36">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio27">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio38">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio39">4</label>
            <br/>
            <input type="text" id="fname" name="fname7" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">2. I sometimes encounter the following challenges when selling</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio40">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio41">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio42">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio43">4</label>
            <br/>
            <input type="text" id="fname" name="fname8" row="10" size="50" placeholder="Comment">
            <br/>
            <br/>
            <label for="question" style="color:white;">3. The objection below can be hard for me to resolve</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio44">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio45">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio46">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio47">4</label>
            <br/>
            <input type="text" id="fname" name="fname9" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">4. I customize my approach when I engage different customers</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio48">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio49">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio50">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio51">4</label>
            <br/>
            <input type="text" id="fname" name="fname10" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">5. If it weren’t because of competition, I would achieve outstanding sales results</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio52">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio53">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio54">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio55">4</label>
            <br/>
            <input type="text" id="fname" name="fname11" row="10" size="50" placeholder="Comment"><br><br>
            <label for="question" style="color:white;">6. I have considered changing careers</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio56">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio57">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio58">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio59">4</label>
            <br/>
            <input type="text" id="fname" name="fname12" row="10" size="50" placeholder="Comment"><br><br>
             </form>
            </div>

            <div class="form-group">
            <form>
            <h3 style="color:white;">2. Mindset related (yes/no option)</h3>
            <label for="question" style="color:white;">1. I have the right mindset qualities to achieve exponential results?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio24">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio25">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">2. I am responsible for my sales success?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio26">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio26">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">3. Management is responsible for my sales success?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio28">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio29">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">4. When I don’t achieve my targets is because of customers?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio30">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio31">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">5. It is impossible to reach my sales targets in this economy?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio32">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio33">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">6. I sometimes doubt myself?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio34">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio35">No</label>
            </form>
            </div>

            <div class="form-group">
            <form>
            <h3 style="color:white;">3. Customer-related (Use the comment box to elaborate)</h3>

            <div class="form-group">
            <form>
            <label for="name" style="color:white;">1. Being persuasive is more important than understanding buyer motivation.</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio1">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio2">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio3">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio4">4</label>
            <br/>
            <input type="text" id="fname" name="fname1" row="10" size="50" placeholder="Comment">
            </div>
            <div class="form-group">
            <label for="email" style="color:white;">2. I find it hard to deal with demanding customers </label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio5">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio6">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio7">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio8">4</label>
            <br/>
            <input type="text" id="fname" name="fname2" row="10" size="50" placeholder="Comment">
            <br/>
            <br/>
            <label for="name" style="color:white;">3. When customers don’t buy, I quickly get discouraged</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio9">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio10">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio11">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio12">4</label>
            <br/>
            <input type="text" id="fname" name="fname3" row="10" size="50" placeholder="Comment">
            </div>
            <div class="form-group">
            <label for="email" style="color:white;">4. I find it hard to deal with demanding customers </label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio13">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio14">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio15">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio">4</label>
            <br/>
            <input type="text" id="fname" name="fname4" row="10" size="50" placeholder="Comment">
            <br/>
            <br/>
            <label style="color:white;" for="name style="color:white;">5. Being persuasive is more important than understanding buyer motivation.</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio16">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio17">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio18">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio19">4</label>

            <br/>
            <input type="text" id="fname" name="fname5" row="10" size="50" placeholder="Comment">
            </div>
            <div class="form-group">
            <label for="email" style="color:white;">6. I find it hard to deal with demanding customers </label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio20">1</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio21">2</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio22">3</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="optradio23">4</label>
            <br/>
            <input type="text" id="fname" name="fname6" row="10" size="50" placeholder="Comment">
            </form>
            </div>
            <br/>
            <div class="form-group">
            <form>
            <h3 style="color:white;">4. Business-related (yes/no option)</h3>
            <label for="question" style="color:white;">1. Management is skilled enough to get staff to deliver optimal performance?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt1">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt2">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">2. Management gives me the support I need to excel in my job?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt3">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt4">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">3. I feel overwhelmed with everything I need to achieve?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt5">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt6">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">4. I have considered moving to another company?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt7">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt8">No</label>
            <br/>       
            <br/>
            <label for="question" style="color:white;">5. We have all the tools and resources needed to perform optimally?</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt9">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt10">No</label>
            <br/>
            <br/>
            <label for="question" style="color:white;">6. Excellent customer service is key for our business</label>
            <br/>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt11">Yes</label>
            <label class="radio-inline" style="color:white;"><input type="radio" name="opt12">No</label>
            </form>
            </div>
            <form action="/details/save" class="" id="survey-form" method= post>
                <div class="form-group">
                    <button type="submit" onclick="submitdocument.location='/sucessPage'"();" id="submit"  class="btn">Submit</button>
                </div>
                <footer class="page-footer font-small black">

                    <div class="footer-copyright text-center py-5">© 2022 Copyright. All rights reserved.
                    <a href="https://www.analyticsadvert.com"> Analytics Advertising</a>
                    </div>
                              
                </footer>
            </form>
        </form>